*{
    background-color: #1e1e1d;
    font-family: "Poppins", sans-serif;
    color: #F7F7F6;
    
}
#logo
    {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,0%);
    }

h1{
    font-size: 5rem;
    text-align: center;
    padding-bottom: 30px;
}

.tile-image{
    height: 200px;
    float: left;
    margin-right: 30px;
    margin-left: 50px;
}
.card{
    width: 50%;
}
.right{
    float: right;
}
.left{
    float: left;
}
footer{
    clear: both;
    text-align: right;
    padding: 20px;
}
@media(max-width:680px){

    #logo{
        width: 100px;
    }
    h1{
        font-size: 3rem;
        text-align: center;
    }
    .card{
        display: block;
        width: 100%;
        margin-bottom: 30px;
        text-align: justify;
    }
    .tile-image{
        margin-bottom: 10px;
        width: 100%;
        display: inline;
        object-fit: cover;
    }
    footer{
        text-align: center;
    }
    h2,p{
        padding-left: 45px;
        padding-right: 20px;
    }
}
